.header-section {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  .header.conteiner {
    display: flex;
    height: 80px;
    align-items: center;
    @media screen and (max-width: 1280px) {
      height: 60px;
    }
  }
  .logo {
    padding: 0;
    margin-right: 93px;

    color: var(--akcent);
    font-family: Raleway, sans-serif;
    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 1.2;
    }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-right: 75px;
    }
    /* @include fond(700, 26px, 1.2, null); */
    .logo__studio {
      color: var(--primery-text-cplor);
      font-family: Raleway, sans-serif;
      text-decoration: none;

      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.2;
      }
      @media screen and (min-width: 768px) and (max-width: 1280px) {
        font-size: 24px;
        line-height: 1.2;
      }
      /* @include fond(700, 26px, 1.2, null); */
    }
  }
}
