.site-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 480px) {
    display: none;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__list {
  display: inline-block;
  position: relative;
  // padding-top: 32px;
  // padding-bottom: 32px;

  color: var(--primery-text-cplor);
  /* @include fond(500, 14px, 1.14, 0.02em); */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--akcent);
  }
}

.site-nav__list.curent,
.site-nav__list.curent {
  color: var(--akcent);
  &::before {
    position: absolute;
    content: "";

    bottom: 2%;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--akcent);
  }
}
