.site-auth {
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 480px) {
    display: none;
  }
  .site-auth__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-auth__list {
  position: relative;

  display: flex;
  // padding-top: 32px;
  // padding-bottom: 32px;
  align-items: center;

  color: var(--secondary-color);
  /* @include fond(500, 14px, 1.14, 0.02em); */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--akcent);
  }
}

.site-auth__svg {
  margin-right: 10px;
  fill: currentColor;
}
