:root {
  --primery-text-cplor: #212121;
  --secondary-color: rgba(117, 117, 117, 1);
  --akcent: #2196f3;
  --primary-wite-color: #fff;
  --secondary-color-two: rgba(245, 244, 250, 1);
  --color-fon-hed-fot: rgba(47, 48, 58, 1);
}

body {
  background-color: var(--primary-wite-color);
  color: var(--primery-text-cplor);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
b {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

/* атребут для приховування eлементу------------ */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  /* outline: 2px solid rgb(225, 169, 159); */

  @media screen and (max-width: 480px) {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  // @media screen and (max-width: 768px) {
  //   max-width: 100%;
  // }
  // @media screen and (max-width: 1200px) {
  //   max-width: 100%;
  // }
}

@mixin fond($fw, $fs, $fh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $fh;
  letter-spacing: $ls;
}
