.hero {
  position: relative;
  min-height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

  text-align: center;
}
.hero__block {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .hero__text {
    width: 100%;

    color: var(--primary-wite-color);
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (max-width: 480px) {
      font-size: 26px;
      line-height: 1.62;
    }
  }

  .hero__button {
    margin-top: 20px;
    width: 200px;
    height: 50px;

    color: var(--primary-wite-color);
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    letter-spacing: 0.06em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
