.photo-title {
  margin-bottom: -3%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 480px) and (max-width: 1300px) {
    display: none;
  }
}

.photo {
  display: flex;
  padding-top: 6%;
  padding-bottom: 6%;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 480px) and (max-width: 1300px) {
    display: none;
  }
  // .photo__item:not(:last-child) {
  //   margin-right: 20px;
  // }
  .photo__item {
    .photo__list {
      position: relative;
      width: 370px;
      height: 294px;
      .photo__text {
        display: block;
        position: absolute;

        padding: 25px;
        bottom: 0;
        width: 370px;
        height: 70px;
        text-align: center;

        color: var(--primary-wite-color);
        background-color: rgba(47, 48, 58, 0.8);
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
    }
  }
}
