.section-team {
  background-color: #f5f4fa;
  .section-team.conteiner {
    padding-top: 6%;
    padding-bottom: 6%;
  }
  .section-team__main {
    display: block;
    padding-bottom: 4%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (max-width: 480px) {
      font-size: 28px;
      line-height: 1.6;
    }
  }
}

.team-card {
  display: flex;
  text-align: center;
  justify-content: space-around;
  @media screen and (max-width: 579px) {
    flex-direction: column;
  }
  @media screen and (min-width: 579px) and (max-width: 1400px) {
    flex-wrap: wrap;
  }
  .team-card__item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 579px) {
      margin-bottom: 5%;
    }
    @media screen and (min-width: 579px) and (max-width: 1400px) {
      margin-bottom: 5%;
    }
    .team-card__img {
      @media screen and (max-width: 579px) {
        width: 100%;
        height: 100%;
      }
    }
    .team-card__name {
      display: block;
      margin-top: 9%;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.36;

      text-align: center;
      letter-spacing: 0.03em;
    }
    .team-card__profession {
      display: block;
      margin-top: 4%;

      color: #757575;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.36;

      text-align: center;
      letter-spacing: 0.03em;
    }
  }
  // .team-card__item:not(:last-child) {
  //   margin-right: 20px;
  // }
}

.team-card__network {
  display: flex;
  margin-top: 5%;
  margin-bottom: 9%;
  align-items: center;
  justify-content: space-evenly;
  // .team-card__network__social:not(:last-child) {
  //   margin-right: 10px;
  // }
  .team-card__network__force {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: #afb1b8;

    transition-property: color background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--primary-wite-color);
      background-color: var(--akcent);
    }
    .team-card__network__svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      fill: currentColor;
    }
  }
}
