.work__item {
  display: flex;
  padding-top: 6%;
  padding-bottom: 6%;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
  // .work__list:not(:last-child) {
  //   margin-right: 30px;
  // }
  .work__list {
    width: 270px;
    @media screen and (max-width: 480px) {
      display: flex;
      width: 100%;
      margin-top: 5%;
      flex-direction: column;
      align-items: center;
    }
    .work__fon {
      position: relative;
      display: block;
      width: 100%;
      height: 120px;

      background: #f5f4fa;
      border-radius: 4px;
      .work__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .work__main {
      display: block;
      margin-top: 5%;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .work__text {
      display: block;
      margin-top: 2%;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;
    }
  }
}
