.work__item {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 30px;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }
  // @media screen and (min-width: 480px) and (max-width: 1400px) {
  //   flex-wrap: wrap;
  // }
  // .work__list:not(:last-child) {
  //   margin-right: 30px;
  // }
  .work__list {
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-bottom: 30px;
    }
  }
  .work__list:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }
  .work__list {
    width: 270px;
    @media screen and (max-width: 767px) {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      width: 354px;
    }
    // @media screen and (min-width: 579px) and (max-width: 1400px) {
    //   margin-bottom: 2%;
    // }
    .work__fon {
      position: relative;
      display: block;
      width: 100%;
      height: 120px;

      background: #f5f4fa;
      border-radius: 4px;
      .work__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .work__main {
      display: block;
      margin-top: 30px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .work__text {
      display: block;
      margin-top: 10px;

      color: #757575;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;
    }
  }
}
