.porpfolio-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .porpfolio-photo__item {
    width: 370px;
    margin-right: 3%;
    margin-bottom: 3%;
    border: 1px solid #eeeeee;
    @media screen and (max-width: 480px) {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .porpfolio-photo__hover {
      transform: translateY(0);
    }
  }
}

/* List */
.porpfolio-photo__list {
  position: relative;
  overflow: hidden;
  width: 370px;
  &::before {
    position: absolute;
    content: "";
    display: inline-block;

    width: 370px;
    height: 294px;

    background: rgba(33, 150, 243, 0.9);
    transform: translateY(350px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .porpfolio-photo__item:hover &::before {
    transform: translateY(0);
    cursor: pointer;
  }
  .porpfolio-photo__hover {
    position: absolute;
    display: flex;

    top: 63px;
    left: 24px;
    width: 322px;
    height: 168px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #fff;

    transform: translateY(350px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* Info */
.porpfolio-photo__info {
  align-items: center;
  padding: 20px 0 24px 24px;
  .porpfolio-photo__name {
    display: block;
    margin-bottom: 4px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .porpfolio-photo__type {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.03em;
  }
}
