.modal-window__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  .modal-window__checkbox__check {
    position: absolute;
    left: 5px;
    width: 16px;
    height: 16px;
    opacity: 0;
  }
  .modal-window__checkbox__consent {
    display: block;
    padding-left: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 1.14;
    }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      font-size: 12px;
      line-height: 1.14;
    }
  }
  .modal-window__checkbox__force {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
    text-decoration: underline;
    color: var(--akcent);
    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 1.14;
    }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      font-size: 12px;
      line-height: 1.14;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.modal-window__checkbox__consent::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 14px;
  height: 14px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid black;
}
.modal-window__checkbox__check:checked
  + .modal-window__checkbox__consent::before {
  border: none;
  background-color: var(--akcent);
  background-image: url(../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
}
