.modal-window__form {
  padding: 40px;

  .modal-window__form__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
